---
import LandingHeader from "../components/LandingHeader.astro";
import LandingSection from "../components/LandingSection.astro";
import Model3Section from "../components/Model3Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla Landing">
	<LandingHeader />
  <main class="relative w-full h-screen overflow-x-hidden snap-y snap-mandatory scroll-smooth">
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<Model3Section />
		</div>
		<!-- <div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div>
		<div class="snap-center">
			<LandingSection />
		</div> -->
		
	</main>
</Layout>
