<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header class="flex flex-col">
      <h2 class="text-black pt-20 text-[40px] font-medium">Model 3</h2>
      <a  href="#" class="text-black text-sm underline">Lease from $429/mo</a>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-x-4 mx-auto" >
        <a
          class="text-white border-[3px] border-gray-600 rounded font-medium px-[5.5rem] bg-gray-600 text-sm py-2 inline-block "
          href="#">Order Now</a
        >
        <a
          class="text-gray-700 border-[3px] border-gray-200 rounded font-medium px-[5.5rem] bg-gray-200  text-sm py-2 inline-block "
          href="#">Demo Drive</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 z-10">
    <img src="../../public/Homepage-Model-3-Desktop-LHD.avif" alt="model 3 image" class="h-full w-screen object-cover object-center">
  </div>
</section>
